<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{user/filterMain.css}">
    <title>Document</title>
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />-->
<!--    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>-->
</head>

<body>
    <header>
        <div id="menuFrame">
            <div id="menuIcon">
                <img th:src="@{image/h.png}" alt="햄버거">
            </div>
            <div id="fishbowlInfoFrame">
                <div id="fishowlTitle" class="font_base">
                    <span th:text="${fishbowlList.get(0).getFishbowl()}"></span>
                </div>
                <!--            <div id="fishbowlInfo" class="font_s">-->
                <!--                날짜, 시리얼넘버?-->
                <!--            </div>-->
            </div>
            <div id="fishbowlArrow">
                <img th:src="@{image/downArrow.png}" alt="아래화살표">
            </div>
        </div>
    </header>
    <main>
        <div class="swiper mySwiper">
            <div id="FunctionIcon" class="swiper-wrapper">
                <div id="home" class="swiper-slide">
                    <img th:src="@{image/home아이콘.png}" alt="집">
                </div>
                <div id="water" class="swiper-slide select">
                    <img th:src="@{image/filter아이콘.png}" alt="환수">
                </div>
                <div id="light" class="swiper-slide">
                    <img th:src="@{image/light아이콘.png}" alt="빛">
                </div>
                <div id="co2" class="swiper-slide">
                    <img th:src="@{image/co2아이콘.png}" alt="co2">
                </div>
                <div id="ph" class="swiper-slide">
                    <img th:src="@{image/ph아이콘.png}" alt="ph">
                </div>
                <div id="temp" class="swiper-slide">
                    <img th:src="@{image/temp아이콘.png}" alt="temp">
                </div>
            </div>
        </div>
        <div id="fishbowlImg">
            어항 이미지
            <!-- <img src="" alt=""> -->
        </div>
        <div id="filterProgress">
            <div id="startTime" class="font-s">
                시작시간
            </div>
            <div id="progress">
                <progress id="progressValue" value="20" max="100"></progress>
            </div>
            <div id="filterPercent">
                <span id="filterImage">
                    <img src="../image/filter아이콘.png" alt="환수">
                </span>
                <span id="filterNum">
                    <span th:text="${nowFilterValue}"></span> %
                </span>
            </div>
        </div>
        <div id="filterList">
            <div id="filterAdd">
                <a th:href="@{/filterSetting}">Setting</a>
            </div>
            <div id="filterItem">
                <div id="colorBox">
                    <div id="boxFrame">
                        <img src="../image/dot아이콘.png" alt="점">
                    </div>
                </div>
                <div id="orderSection">
                    <div id="orderState" class="font_base">
                        <span>시간 : </span>
                        <span th:text="${filter.time}"></span>
                    </div>
                    <div id="orderStateDetail" class="font_s">
                        <span>환수일 : </span>
                        <input type="hidden" id="filterDay" th:value="${filter.day}">
                        <span id="dayText"></span>
                        <span> / 환수량 : </span>
                        <input type="hidden" id="inputFilterRange" th:value="${filter.filterRange}">
                        <span id="filterRange"></span>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

<script  th:src="@{js/public.js}"></script>

<script>
    var filterDay = document.getElementById("filterDay");
    var str = filterDay.value.split('');
    var dayText = document.getElementById('dayText');
    if (str[0] == '1') {
        dayText.textContent += "월";
    }
    if (str[1] == '1') {
        dayText.textContent += "화";
    }
    if (str[2] == '1') {
        dayText.textContent += "수";
    }
    if (str[3] == '1') {
        dayText.textContent += "목";
    }
    if (str[4] == '1') {
        dayText.textContent += "금";
    }
    if (str[5] == '1') {
        dayText.textContent += "토";
    }
    if (str[6] == '1') {
        dayText.textContent += "일";
    }

    var inputFilterRange = document.getElementById("inputFilterRange");
    var filterRange = document.getElementById("filterRange");
    if (inputFilterRange.value == '1') {
        filterRange.textContent += "25%";
    } else if (inputFilterRange.value == '2') {
        filterRange.textContent += "50%";
    } else if (inputFilterRange.value == '3') {
        filterRange.textContent += "75%";
    } else if (inputFilterRange.value == '4') {
        filterRange.textContent += "100%";
    }
</script>

</html>