<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{user/filterSetting.css}">
    <title>Document</title>
</head>

<body>
    <form th:action="@{/filterSetting}" method="post">
        <div id="cancelFrame">
            <button>
                <img src="../image/x아이콘.png" alt="x">
            </button>
        </div>
        <p class="borderLine"></p>
        <table id="timeTable">
            <tr id="topSection">
                <td id="hourUp">
                    <img src="../image/arrow.png" alt="위화살표">
                </td>
                <td></td>
                <td id="minuteUp">
                    <img src="../image/arrow.png" alt="위화살표">
                </td>
                <td></td>
                <td rowspan="3"></td>
                <td rowspan="3" id="filterRangeFrame">
                    <div class="waterPercent" id="percent100">100%</div>
                    <div class="waterPercent" id="percent75">75%</div>
                    <div class="waterPercent" id="percent50">50%</div>
                    <div class="waterPercent" id="percent25">25%</div>
                </td>
            </tr>
            <tr id="middleSection">
                <td>
                    <input type="text" id="hourNum" name="hours" th:value="${filter.time.split(':')[0]} % 12">
                </td>
                <td>
                    :
                </td>
                <td>
                    <input type="text" id="minuteNum" name="minutes" th:value="${filter.time.split(':')[1]}">
                </td>
                <td>
                    <input type="hidden" id="inputampm" name="inputampm" th:value="${filter.time.split(':')[0]} > 12 ? 'pm' : 'am'">
                    <button id="chooseAMPM" type="button" th:text="${filter.time.split(':')[0]} > 12 ? 'pm' : 'am'"></button>
                </td>
            </tr>
            <tr id="bottomSection">
                <td id="hourDown">
                    <img src="../image/arrow.png" alt="아래화살표">
                </td>
                <td></td>
                <td id="minuteDown">
                    <img src="../image/arrow.png" alt="아래화살표">
                </td>
                <td></td>
            </tr>
        </table>
        <input type="hidden" id="dateValue" name="day" th:value="${filter.day}">
        <p class="borderLine" style="margin-bottom: 3vh;"></p>
        <div id="chooseWeek">
            <button type="button" id="mon">Mon</button>
            <button type="button" id="tue">Tue</button>
            <button type="button" id="wed">Wed</button>
            <button type="button" id="thu">Thu</button>
            <button type="button" id="fri">Fri</button>
            <button type="button" id="sat">Sat</button>
            <button type="button" id="sun">Sun</button>
        </div>
        <input type="hidden" id="filterRange" name="filterRange" th:value="${filter.filterRange}">
        <div id="saveFrame">
            <button type="submit">save</button>
        </div>
    </form>
</body>

<script th:src="@{/js/filterSetting.js}"></script>

</html>