<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{user/temperatureMain.css}">
    <title>Document</title>
    <!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>-->
    <!--    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>-->
</head>

<body>
<header>
    <div id="menuFrame">
        <div id="menuIcon">
            <img th:src="@{image/h.png}" alt="햄버거">
        </div>
        <div id="fishbowlInfoFrame">
            <div id="fishowlTitle" class="font_base">
                <span th:text="${fishbowlList.get(0).getFishbowl()}"></span>
            </div>
            <!--                <div id="fishbowlInfo" class="font_s">-->
            <!--                    날짜, 시리얼넘버?-->
            <!--                </div>-->
        </div>
        <div id="fishbowlArrow">
            <img src="../image/downArrow.png" alt="아래화살표">
        </div>
    </div>
</header>
<main>
    <div class="swiper mySwiper">
        <div id="FunctionIcon" class="swiper-wrapper">
            <div id="home" class="swiper-slide">
                <img th:src="@{image/home아이콘.png}" alt="집">
            </div>
            <div id="water" class="swiper-slide">
                <img th:src="@{image/filter아이콘.png}" alt="환수">
            </div>
            <div id="light" class="swiper-slide">
                <img th:src="@{image/light아이콘.png}" alt="빛">
            </div>
            <div id="co2" class="swiper-slide">
                <img th:src="@{image/co2아이콘.png}" alt="co2">
            </div>
            <div id="ph" class="swiper-slide">
                <img th:src="@{image/ph아이콘.png}" alt="ph">
            </div>
            <div id="temp" class="swiper-slide  select">
                <img th:src="@{image/temp아이콘.png}" alt="temp">
            </div>
        </div>
    </div>
    <div id="fishbowlImg">
        어항 이미지
        <!-- <img src="" alt=""> -->
    </div>
    <div id="chartFrame">
        <!-- 반원호는 나중에 구현 -->
        <a th:href="@{/temperatureSetting}">변경하기</a>
        <div id="valueFrame">
            <span id="nowValue" class="font_xl" th:text="${temperature.getTempStay()}">
            </span>
            <span id="setValue" class="font_xl" th:text="${temperature.getTempState()}">
            </span>
        </div>
        <div id="titleFrame">
            <span id="nowValueText">
                    Setting TEMP
            </span>
            <span id="setValueText">
                    Average TEMP
            </span>
        </div>
    </div>
</main>
</body>
<script th:src="@{js/public.js}"></script>

<!--<script>-->
<!--    var swiper = new Swiper(".mySwiper", {-->
<!--        slidesPerView: 4,-->
<!--        spaceBetween: 60,-->
<!--        freeMode: true,-->
<!--    })-->
<!--</script>-->

</html>