<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{user/lightMain.css}">
    <title>Document</title>
    <!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />-->
    <!--    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>-->
</head>

<body>
<header>
    <div id="menuFrame">
        <div id="menuIcon">
            <img th:src="@{image/h.png}" alt="햄버거">
        </div>
        <div id="fishbowlInfoFrame">
            <div id="fishowlTitle" class="font_base">
                <span th:text="${fishbowlList.get(0).getFishbowl()}"></span>
            </div>
<!--            <div id="fishbowlInfo" class="font_s">-->
<!--                날짜, 시리얼넘버?-->
<!--            </div>-->
        </div>
        <div id="fishbowlArrow">
            <img th:src="@{image/downArrow.png}" alt="아래화살표">
        </div>
    </div>
</header>
<main>
    <div class="swiper mySwiper">
        <div id="FunctionIcon" class="swiper-wrapper">
            <div id="home" class="swiper-slide">
                <img th:src="@{image/home아이콘.png}" alt="집">
            </div>
            <div id="water" class="swiper-slide">
                <img th:src="@{image/filter아이콘.png}" alt="환수">
            </div>
            <div id="light" class="swiper-slide select">
                <img th:src="@{image/light아이콘.png}" alt="빛">
            </div>
            <div id="co2" class="swiper-slide">
                <img th:src="@{image/co2아이콘.png}" alt="co2">
            </div>
            <div id="ph" class="swiper-slide">
                <img th:src="@{image/ph아이콘.png}" alt="ph">
            </div>
            <div id="temp" class="swiper-slide">
                <img th:src="@{image/temp아이콘.png}" alt="temp">
            </div>
        </div>
    </div>
    <div id="fishbowlImg">
        어항 이미지
        <!-- <img src="" alt=""> -->
    </div>
    <div id="lightList">
        <div id="onOffFrame">
            <button id="lightOnSetting" th:classappend="${lightState} ? settingState : noSettingState">on</button>
            <button id="lightOffSetting" th:classappend="${!lightState} ? settingState : noSettingState">off</button>
        </div>
        <div id="lightAdd">
            <a th:href="@{/lightCreate}">Add +</a>
        </div>
        <div id="lightItem" th:each="list : ${lightList}">
            <div id="colorBox">
                <div id="boxFrame">
                    <img th:src="@{image/dot아이콘.png}" alt="점">
                </div>
            </div>
            <div id="orderSection">
                <!--                <div class="orderList">-->
                <a th:href="@{/lightSetting(startTime=${list.startTime}, endTime=${list.endTime},
                                    state=${list.state} , lightIndex=${listStat.index})}">
                    <div id="orderState" class="font_base">
                        <span th:text="${list.startTime}"></span>
                    </div>
                    <!--                        <div id="orderStateDetail" class="font_s">-->
                    <!--                            <img th:src="@{/image/downArrow.png}" alt="오른쪽 화살표">-->
                    <!--                        </div>-->
                </a>

                <div id="powerFrame">
                    <div class="powerOuter" th:if="${list.state == false}">
                        <div class="btnFalse"
                             th:onclick="|location.href='@{/lightListStateChange(lightIndex=${listStat.index})}'|">
                            <img src="../image/power아이콘.png" alt="전원">
                        </div>
                    </div>
                    <div class="powerOuter" th:if="${list.state == true}">
                        <div class="btnTrue"
                             th:onclick="|location.href='@{/lightListStateChange(lightIndex=${listStat.index})}'|">
                            <img src="../image/power아이콘.png" alt="전원">
                        </div>
                    </div>
                </div>
                <!--                </div>-->
            </div>
        </div>
    </div>
</main>
</body>

<script th:src="@{js/public.js}"></script>
<script type="text/javascript" th:src="@{http://code.jquery.com/jquery-3.5.1.min.js}"></script>
<script>
    var lightOnSetting = document.getElementById("lightOnSetting");
    var lightOffSetting = document.getElementById("lightOffSetting");

    lightOnSetting.addEventListener("click", function () {
        lightOnSetting.className = "settingState";
        lightOffSetting.className = "";

        $.ajax({
            type: 'get',   //get방식으로 명시
            url : 'nowLightStateChange?state=true',  //이동할 jsp 파일 주소
            dataType:'text',   //문자형식으로 받기
            success: function(data){   //데이터 주고받기 성공했을 경우 실행할 결과
                //function(data)를 쓰게 되면 전달받은 데이터가 data안에 담아서 들어오게 된다.

            },
            error:function(){   //데이터 주고받기가 실패했을 경우 실행할 결과

            }
        })
    });
    lightOffSetting.addEventListener("click", function () {
        lightOnSetting.className = "";
        lightOffSetting.className = "settingState";

        $.ajax({
            type: 'get',   //get방식으로 명시
            url : 'nowLightStateChange?state=false',  //이동할 jsp 파일 주소
            dataType:'text',   //문자형식으로 받기
            success: function(data){   //데이터 주고받기 성공했을 경우 실행할 결과
                //function(data)를 쓰게 되면 전달받은 데이터가 data안에 담아서 들어오게 된다.

            },
            error:function(){   //데이터 주고받기가 실패했을 경우 실행할 결과

            }
        })
    });
</script>
</html>