<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{user/lightSetting.css}">
    <title>Document</title>
</head>

<body>
<main>
    <form th:action="@{/lightCreate}" method="post" th:object="${lightTime}">
        <div id="cancelFrame">
            <a th:href="@{/lightMain}">
                <img src="../image/x아이콘.png" alt="x">
            </a>
        </div>
        <p class="borderLine"></p>
        <table class="timeTable">
            <tr class="topSection">
                <td id="startHourUp">
                    <img src="../image/arrow.png" alt="위화살표">
                </td>
                <td></td>
                <td id="startMinuteUp">
                    <img src="../image/arrow.png" alt="위화살표">
                </td>
                <td></td>
            </tr>
            <tr class="middleSection">
                <td>
                    <input type="text" id="startHourNum" name="startTimeHour" value="0">
                </td>
                <td>
                    :
                </td>
                <td>
                    <input type="text" id="startMinuteNum" name="startTimeMinute" value="0">
                </td>
                <td>
                    <input id="startTimeHidden" type="hidden" name="startAmPm" value = "am">
                    <button type="button" id="startAMPM">am</button>
                </td>
            </tr>
            <tr class="bottomSection">
                <td id="startHourDown">
                    <img src="../image/arrow.png" alt="아래화살표">
                </td>
                <td></td>
                <td id="startMinuteDown">
                    <img src="../image/arrow.png" alt="아래화살표">
                </td>
                <td></td>
            </tr>
        </table>
        <table class="timeTable">
            <tr class="topSection">
                <td id="endHourUp">
                    <img src="../image/arrow.png" alt="위화살표">
                </td>
                <td></td>
                <td id="endMinuteUp">
                    <img src="../image/arrow.png" alt="위화살표">
                </td>
                <td></td>
            </tr>
            <tr class="middleSection">
                <td>
                    <input type="text" id="endHourNum" name="endTimeHour" value="0">
                </td>
                <td>
                    :
                </td>
                <td>
                    <input type="text" id="endMinuteNum" name="endTimeMinute" value="0">
                </td>
                <td>
                    <input id="endTimeHidden" type="hidden" name="endAmPm" value="am">
                    <button  type="button"  id="endAMPM">am</button>
                </td>
            </tr>
            <tr class="bottomSection">
                <td id="endHourDown">
                    <img src="../image/arrow.png" alt="아래화살표">
                </td>
                <td></td>
                <td id="endMinuteDown">
                    <img src="../image/arrow.png" alt="아래화살표">
                </td>
                <td></td>
            </tr>
        </table>
        <p class="borderLine" style="margin-bottom: 3vh;"></p>
        <div id="saveFrame">
            <button type="submit">save</button>
        </div>
    </form>
</main>
</body>

<script type="text/javascript" th:src="@{/js/co2LightSetting.js}"></script>


</html>