@import "color_font.css";

* {
  margin: 0;
  color: var(--mainColor);
}

body {
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.borderLine {
  border: 2px solid #f1f3f7;
}

/* form */
form {
  width: 100%;
  height: auto;
}
form #cancelFrame {
  width: 100%;
  height: 5vh;
  text-align: right;
}
form #cancelFrame button {
  width: auto;
  height: 100%;
  border: 0px;
  border-radius: 20%;
  padding: 1%;
  box-sizing: border-box;
}
form #cancelFrame button img {
  width: auto;
  height: 100%;
}

form #timeTable {
  width: 70%;
  height: auto;
  margin: 0 auto;
}
form #timeTable tr {
  width: 100%;
  height: 10vh;
}
form #timeTable tr td {
  width: 15%;
  height: 10vh;
  text-align: center;
}
form #timeTable tr #filterRangeFrame {
  width: 25%;
  height: 10vh;
  text-align: center;
}
form #timeTable tr td input,
form #timeTable tr td button {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  text-align: center;
  border: 0px;
  background-color: white;
}
form #timeTable tr td img {
  width: 70%;
  height: auto;
  text-align: center;
}
form #timeTable #topSection td {
  padding: 3% 5% 0%;
  box-sizing: border-box;
}
form #timeTable #topSection .waterPercent {
  height: 25%;
  width: 100%;
}
form #timeTable #topSection .choose {
  height: 25%;
  width: 100%;
  background-color: var(--mainColor);
  color: white;
}
form #timeTable #topSection td img {
  transform: rotate(270deg);
  box-sizing: border-box;
  filter: invert(41%) sepia(88%) saturate(3663%) hue-rotate(228deg)
    brightness(100%) contrast(90%);
}
form #timeTable #bottomSection td {
  padding: 0% 5% 3%;
  box-sizing: border-box;
}
form #timeTable #bottomSection td img {
  transform: rotate(90deg);
  box-sizing: border-box;
  filter: invert(41%) sepia(88%) saturate(3663%) hue-rotate(228deg)
    brightness(100%) contrast(90%);
}

form #chooseWeek {
  width: 100%;
  height: 7vh;
  text-align: center;
  margin-bottom: 3vh;
}
form #chooseWeek button {
  width: 12%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid var(--mainColor);
  color: var(--mainColor);
  background-color: white;
}
form #chooseWeek button:nth-child(n + 1) {
  margin-left: auto;
}
form #chooseWeek .choose {
  background-color: var(--mainColor);
  color: white;
}

form #saveFrame {
  width: 100%;
  height: 8vh;
  text-align: center;
}
form #saveFrame button {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  border: 0px;
  border-radius: 5%;
  background-color: var(--mainColor);
  color: white;
}
