@import "color_font.css";

* {
  margin: 0;
  font-size: 62.5%;
}

body {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

/* header */
header {
  width: 100%;
  height: 10vh;
  box-sizing: border-box;
  margin-bottom: 3%;
}
header #menuFrame {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
}
header #menuFrame #menuIcon {
  width: auto;
  height: 100%;
}
header #menuFrame #menuIcon img {
  width: auto;
  height: 100%;
  padding: 30%;
  box-sizing: border-box;
}
header #fishbowlInfoFrame {
  width: 50%;
  height: auto;
}
header #fishbowlInfoFrame #fishbowlTitle {
  width: 100%;
  height: 50%;
  padding-top: 3%;
  box-sizing: border-box;
  color: var(--mainFontColor);
}
header #fishbowlInfoFrame #fishbowlInfo {
  width: 100%;
  height: 50%;
  padding-bottom: 3%;
  box-sizing: border-box;
  color: var(--subFontColor);
}
header #fishbowlArrow {
  width: auto;
  height: 100%;
}
header #fishbowlArrow img {
  width: auto;
  height: 100%;
  padding: 30%;
  box-sizing: border-box;
}

/* main */

main {
  width: 100%;
  height: auto;
}
main #FunctionIcon {
  width: 100%;
  height: 8vh;
  margin-bottom: 5%;
  display: flex;
  justify-content: space-between;
}
main #FunctionIcon .swiper-slide {
  width: auto;
  height: 100%;
  border-radius: 30%;
  background-color: var(--subColor);
  box-sizing: border-box;
}
main #FunctionIcon .swiper-slide img {
  width: auto;
  height: 100%;
  padding: 30%;
  box-sizing: border-box;
  filter: invert(100%) sepia(0%) saturate(7446%) hue-rotate(149deg)
  brightness(96%) contrast(112%);
}
main #FunctionIcon .select {
  background-color: var(--mainColor);
}

main #fishbowlImg {
  width: 100%;
  height: 40vh;
  background-color: #43c6bb;
}

main #lightList {
  width: 100%;
  height: auto;
}
main #onOffFrame {
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: space-between;
}
main #onOffFrame button {
  width: 45%;
  height: 100%;
}
main #onOffFrame .settingState {
  background-color: var(--mainColor);
  color: white;
  border: 0px;
}
main #lightList #lightAdd {
  width: 100%;
  text-align: right;
}
main #lightList #lightItem {
  width: 100%;
  height: 10vh;
  display: flex;
  margin-bottom: 3%;
}
main #lightList #lightItem #colorBox {
  width: auto;
  height: 100%;
  margin-right: 5%;
  padding: 2%;
  box-sizing: border-box;
}
main #lightList #lightItem #colorBox #boxFrame {
  width: auto;
  height: 100%;
  background-color: #e9f5ef;
  border-radius: 30%;
}
main #lightList #lightItem #colorBox #boxFrame img {
  width: auto;
  height: 100%;
  padding: 10%;
  box-sizing: border-box;
  filter: invert(59%) sepia(12%) saturate(1688%) hue-rotate(99deg)
  brightness(101%) contrast(94%);
}

main #lightList #lightItem #orderSection {
  width: 80%;
  height: 100%;
  display: flex;
  box-sizing: border-box;
  border-bottom: 1px solid #aaa;
}
main #lightList #lightItem #orderSection .orderList{
  width: 100%;
  height: auto;
}
main #lightList #lightItem #orderSection a{
  width: 100%;
  height: 100%;
}
main #lightList #lightItem #orderSection #orderState {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--mainFontColor);
}
main #lightList #lightItem #orderSection #orderStateDetail {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--subFontColor);
}
main #lightList #lightItem #orderSection #orderStateDetail img {
  width: auto;
  height: 100%;
  padding: 30%;
  box-sizing: border-box;
}
main #lightList #lightItem #powerFrame {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #aaa;
  box-sizing: border-box;
}
main #lightList #lightItem #powerFrame .powerOuter {
  width: auto;
  height: 70%;
  border-radius: 50%;
  box-sizing: border-box;
}
main #lightList #lightItem #powerFrame .powerOuter .btnFalse{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--subColor);
  box-sizing: border-box;
}
main #lightList #lightItem #powerFrame .powerOuter .btnTrue{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--mainColor);
  box-sizing: border-box;
}
main #lightList #lightItem #powerFrame .powerOuter img {
  width: auto;
  height: 100%;
  padding: 30%;
  box-sizing: border-box;
}
