<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Setting</title>
</head>
<script>
    function handleOnInput(el, maxlength) {
        if(el.value.length > maxlength)  {
            el.value
                = el.value.substr(0, maxlength);
        }
    }
</script>

<body>
<form th:action="@{/filterSetting}" method="post">
    <input type="hidden" name="dayId" th:value="${dayId}">
    <select name="startHour" id="startHour" >
        <option value="">--Start Hour--</option>
        <option th:each="number : ${#numbers.sequence(0,23)}" th:text="${number}" th:value="${number}"></option>
    </select>
    <select name="startMinute" id="startMinute">
        <option value="">--Start Minute--</option>
        <option th:each="number : ${#numbers.sequence(0,59)}" th:text="${number}" th:value="${number}"></option>
    </select>
    <input
            type='number'
            oninput='handleOnInput(this, 1)'
            name="filterRange"
    />
    <button type="submit">설정</button>
</form>
</body>
</html>