<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/lightCreate}">create</a><br>
<div th:each="list : ${lightList}">
    <a th:href="@{/lightSetting(light=${list}, lightIndex=${listStat.index})}">
        <span th:text="${list.startTime}"></span>
        <span th:text="${list.endTime}"></span>
    </a>
    <a th:href="@{/lightStateChange(lightIndex=${listStat.index})}" th:text="${list.state}">delete</a>
    <a th:href="@{/lightDelete(lightIndex=${listStat.index})}">delete</a>
    <!--    <span>-</span>-->
    <!--    <a th:href="@{/fishbowlDelete(fishbowl=${fbList.getFishbowl()})}">Delete</a>-->
    <!--    <span>-</span>-->
    <!--    <a th:href="@{/fishbowlRename(fishbowl=${fbList.getFishbowl()})}">Rename</a>-->
</div>
</body>
</html>