<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p th:text="${fishbowlData.getEmail()}"></p>
<p th:text="${fishbowlData.getFishbowl()}"></p>
<!--<p th:text="${fishbowlData.getCo2().get(0).isState()}"></p>-->
<a th:href="@{co2Main}">co2클릭</a>
<!--<p th:text="${fishbowlData.getLight().get(0).isState()}"></p>-->
<a th:href="@{lightMain}">light클릭</a>
<a th:href="@{phMain}">ph클릭</a>
<a th:href="@{temperatureMain}">온도클릭</a>

</body>
</html>