<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
image
<p th:text="${fishbowlTemperature.getTempState()}"></p>
<a th:href="@{/temperatureSetting}">setting</a>

<div th:each="fbList : ${fishbowlList}">
    <a th:href="@{/temperatureMain(f_name=${fbList.getFishbowl()})}">
        <span th:text="${fbList.getEmail()}"></span>
        <span th:text="${fbList.getFishbowl()}"></span>
    </a>
</div>
</body>
</html>