<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>main</title>
  <script type="text/javascript" src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script type="text/javascript" src="http://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
  <link rel="stylesheet" type="text/css" th:href="@{user/main.css}">
  <link rel="stylesheet" type="text/css" th:href="@{user/swiper.css}"/>
</head>

<body>
<header>
  <div id="menuFrame">
    <div id="menuIcon">
      <img th:src="@{image/h.png}" alt="햄버거">
    </div>
    <div id="fishbowlInfoFrame">
      <div class="fishbowlInfoInnerFrame">
        <div id="fishowlTitle" class="font_base">
          어항이름
        </div>
        <div id="fishbowlInfo" class="font_s">
          날짜, 시리얼넘버?
        </div>
      </div>
    </div>
    <div id="fishbowlArrow">
      <img id="fishbowlArrowImg" th:src="@{image/downArrow.png}" alt="아래화살표">
    </div>
  </div>
</header>
<main>
<div class="swiper mySwiper">
  <div id="FunctionIcon" class="swiper-wrapper">
    <div id="home" class="swiper-slide select">
      <img th:src="@{image/home아이콘.png}" alt="집">
    </div>
    <div id="water" class="swiper-slide">
      <img th:src="@{image/filter아이콘.png}" alt="환수">
    </div>
    <div id="light" class="swiper-slide">
      <img th:src="@{image/light아이콘.png}" alt="빛">
    </div>
    <div id="co2" class="swiper-slide">
      <img th:src="@{image/co2아이콘.png}" alt="co2">
    </div>
    <div id="ph" class="swiper-slide">
      <img th:src="@{image/ph아이콘.png}" alt="ph">
    </div>
    <div id="temp" class="swiper-slide">
      <img th:src="@{image/temp아이콘.png}" alt="temp">
    </div>
  </div>
</div>
<div id="fishbowlImg">
  어항 이미지
  <!-- <img src="" alt=""> -->
</div>
<div id="orderList">
<!--  <div class="orderItem">-->
<!--    <div class="colorBox">-->
<!--      <div class="boxFrame">-->
<!--        <img th:src="@{image/dot아이콘.png}" alt="점">-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="orderSection">-->
<!--      <div class="orderState font_base">-->
<!--        작업 완료 / 작업 중 / 예정-->
<!--      </div>-->
<!--      <div class="orderStateDetail font_s">-->
<!--        어떤 작업인 지 설명-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="orderItem">-->
<!--    <div class="colorBox">-->
<!--      <div class="boxFrame">-->
<!--        <img th:src="@{image/dot아이콘.png}" alt="점">-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="orderSection">-->
<!--      <div class="orderState font_base">-->
<!--        작업 완료 / 작업 중 / 예정-->
<!--      </div>-->
<!--      <div class="orderStateDetail font_s">-->
<!--        어떤 작업인 지 설명-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
</div>
</main>
</body>

<script th:src="@{js/public.js}"></script>

<!--<script>-->
<!--  var swiper = new Swiper(".mySwiper", {-->
<!--    slidesPerView: 4,-->
<!--    spaceBetween: 60,-->
<!--    freeMode: true,-->
<!--  })-->
<!--</script>-->

</html>