<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
image
value : <span th:text="${fishbowlCo2}"></span>
<button type="button" th:onclick="|location.href='@{/co2statechange(co2state=true)}'|">on</button>
<button type="button" th:onclick="|location.href='@{/co2statechange(co2state=false)}'|">off</button>
<a th:href="@{/co2List}">list</a>

<div th:each="fbList : ${fishbowlList}">
    <a th:href="@{/co2Main(f_name=${fbList.getFishbowl()})}">
        <span th:text="${fbList.getEmail()}"></span>
        <span th:text="${fbList.getFishbowl()}"></span>
    </a>
</div>
</body>
</html>