<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{user/co2Setting.css}">
    <title>Document</title>
</head>

<body>
<main>
    <form th:action="@{/co2Setting(co2Index=${co2Index})}" method="post" th:object="${co2Time}">
        <div id="cancelFrame">
            <a th:href="@{/co2Main}">
                <img src="../image/x아이콘.png" alt="x">
            </a>
        </div>
        <p class="borderLine"></p>
        <table class="timeTable">
            <tr class="topSection">
                <td id="startHourUp">
                    <img src="../image/arrow.png" alt="위화살표">
                </td>
                <td></td>
                <td id="startMinuteUp">
                    <img src="../image/arrow.png" alt="위화살표">
                </td>
                <td></td>
            </tr>
            <tr class="middleSection">
                <td>
                    <input type="text" id="startHourNum" name="startTimeHour"
                           th:value="${co2.startTime.split(':')[0]} >= 12
                                    ? ${co2.startTime.split(':')[0]} - 12 : ${co2.startTime.split(':')[0]}">
                </td>
                <td>
                    :
                </td>
                <td>
                    <input type="text" id="startMinuteNum" name="startTimeMinute"
                           th:value="${co2.startTime.split(':')[1]}">
                </td>
                <td>
                    <input id="startTimeHidden" type="hidden" name="startAmPm"
                           th:value="${co2.startTime.split(':')[0]} >= 12 ? 'pm' : 'am' ">
                    <button type="button" id="startAMPM" th:text="${co2.startTime.split(':')[0]} >= 12 ? 'pm' : 'am'"></button>
                </td>
            </tr>
            <tr class="bottomSection">
                <td id="startHourDown">
                    <img src="../image/arrow.png" alt="아래화살표">
                </td>
                <td></td>
                <td id="startMinuteDown">
                    <img src="../image/arrow.png" alt="아래화살표">
                </td>
                <td></td>
            </tr>
        </table>
        <table class="timeTable">
            <tr class="topSection">
                <td id="endHourUp">
                    <img src="../image/arrow.png" alt="위화살표">
                </td>
                <td></td>
                <td id="endMinuteUp">
                    <img src="../image/arrow.png" alt="위화살표">
                </td>
                <td></td>
            </tr>
            <tr class="middleSection">
                <td>
                    <input type="text" id="endHourNum" name="endTimeHour"
                           th:value="${co2.endTime.split(':')[0]} >= 12
                                        ? ${co2.endTime.split(':')[0]} - 12 : ${co2.endTime.split(':')[0]}">
                </td>
                <td>
                    :
                </td>
                <td>
                    <input type="text" id="endMinuteNum" name="endTimeMinute" th:value="${co2.endTime.split(':')[1]}">
                </td>
                <td>
                    <input id="endTimeHidden" type="hidden" name="endAmPm"
                            th:value="${co2.endTime.split(':')[0]} >= 12 ? 'pm' : 'am'">
                    <button type="button" id="endAMPM" th:text="${co2.endTime.split(':')[0]} >= 12 ? 'pm' : 'am'"></button>
                </td>
            </tr>
            <tr class="bottomSection">
                <td id="endHourDown">
                    <img src="../image/arrow.png" alt="아래화살표">
                </td>
                <td></td>
                <td id="endMinuteDown">
                    <img src="../image/arrow.png" alt="아래화살표">
                </td>
                <td></td>
            </tr>
        </table>
        <p class="borderLine" style="margin-bottom: 3vh;"></p>
        <div id="saveFrame">
            <button type="submit">save</button>
        </div>
        <div id="deleteFrame">
            <button type="button" th:onclick="|location.href='@{/co2Delete(co2Index=${co2Index})}'|">delete</button>
        </div>
    </form>
</main>
</body>
<script type="text/javascript" th:src="@{/js/co2LightSetting.js}"></script>
</html>