<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{user/phSetting.css}">
    <title>Document</title>
</head>

<body>
<main>
    <form th:action="@{/phSetting}" method="post">
        <div id="cancelFrame">
            <button type="button">
                <img th:src="@{image/x아이콘.png}" alt="x">
            </button>
        </div>
        <p class="borderLine"></p>
        <div id="warningRange">
            Warning Range
        </div>

        <table id="timeTable">
            <tr id="topSection">
                <td></td>
                <td id="minPhUp">
                    <img th:src="@{image/arrow.png}" alt="위화살표">
                </td>
                <td></td>
                <td></td>
                <td id="maxPhUp">
                    <img th:src="@{image/arrow.png}" alt="위화살표">
                </td>
            </tr>
            <tr id="middleSection">
                <td>
                    Ph
                </td>
                <td>
                    <input type="text" id="minPhNum" name="minPh" th:value="${phSetting.getMinPh()}">
                </td>
                <td>
                    ~
                </td>
                <td>
                    Ph
                </td>
                <td>
                    <input type="text" id="maxPhNum" name="maxPh" th:value="${phSetting.getMaxPh()}">
                </td>
            </tr>
            <tr id="bottomSection">
                <td></td>
                <td id="minPhDown">
                    <img th:src="@{image/arrow.png}" alt="아래화살표">
                </td>
                <td></td>
                <td></td>
                <td id="maxPhDown">
                    <img th:src="@{image/arrow.png}" alt="아래화살표">
                </td>
            </tr>
        </table>
        <p class="borderLine" style="margin-bottom: 3vh;"></p>
        <div id="saveFrame">
            <button type="submit">save</button>
        </div>
    </form>
</main>
</body>

<script th:src="@{js/phSetting.js}"></script>

</html>